@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap'); /*폰트*/

.texting{
    font-family: 'Do Hyeon';
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    margin-top: 250px;
}

.texting p{
    font-family: 'Do Hyeon';
    text-align:center;
}